<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Calificaciones test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .box {
        margin-top: 16px;
        border: 1px solid darkblue;
        padding: 8px;
        width: 700px;
      }

      .resp_block {
        padding-top: 8px;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="alert alert-primary" role="alert">
        <button
          type="button"
          class="btn btn-link"
          v-if="opcion!='menu'"
          @click="opcion='menu'"
        >
          Back
        </button>
        Sistema la salle PREGUNTAS DE EXAMENES - Lista de materias
      </div>

    
	  <ul id="example-1">
		<li v-for="m in materias" class="list-group-item" 
		v-on:click="setMateria(m.nombre)"
		>
		  {{ m.nombre }}
		</li>
	  </ul>

      <my-laes
        v-bind:laes="laes"
        v-if="materia!='-'"
      ></my-laes>

      <!-- 
		<button @click="fn_ver">Enviar al servidor</button>
		
		
		<div class="box">
			<label for="preg">Pregunta</label> <input type="text" name="preg"
				size="85" v-model="current_preg" @keyup.enter="fn_add"> <input
				type="button" value="+" @click="fn_add">
		</div>
		
		<ul v-if="pregs.length>0">
			<li v-for="(preg,index) in pregs">{{preg.desc}}
				<button @click="fn_remove_question(index)">x</button> <br> <respuesta-component
					v-bind:index="index" v-bind:preg="preg"></respuesta-component>
			</li>
		</ul>
		
		-->
    </div>
    <pre>
* Esto no tiene validaciones sobre textos u obligatoriedad de respuestas, pero es la base.</pre
    >

	<script src="js/main.js"></script>
	
  </body>

  <script type="text/javascript">
    function fn_clean_prepare(inStr) {
      return inStr
        .replace("¬", " ")
        .replace("·", ".")
        .replace("\n", "")
        .trim();
    }
  </script>
</html>
